# Clave SSH generada por Terraform
sd-key.pem

# Archivos generados por Terraform al hacer apply
env.sh
upload.sh
ssh.sh

# Estado y providers de Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfplan
sd-direct-key.pem
sd-indirect-key.pem
